<div class="col-xs-12 col-sm-6 col-sm-offset-3">
  <table class="table table-striped">
    <tr>
      <th>
        <div class="col-xs-6">
          Nomor Kamar
        </div>
        <div class="col-xs-6">
          Kosong
        </div>
      </th>
    </tr>
    <tr *ngFor="let r of GetRoom(); index as i;">
      <td>
        <div class="col-xs-6 custom-td">
          {{r.nomor}}
        </div>
        <div class="col-xs-6">
          <button type="button" class="btn btn-default custom-button" (click)="Book(r.room_name)">
            <span class="glyphicon glyphicon-book" aria-hidden="true"></span> Book
          </button>
        </div>
      </td>
    </tr>
  </table>
</div>
